@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --teal: #50D8D7;
  --blue: #547AA5;
  --dark-gray: #4F5165;
  --charcoal: #474044;
  --dark-green: #293132;
  --hind: 'Hind', sans-serif;
}

.custom-navbar {
  background-color: var(--blue);
}
