@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--hind);
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --teal: #50d8d7;
  --blue: #547aa5;
  --dark-gray: #4f5165;
  --charcoal: #474044;
  --dark-green: #293132;
  --hind: 'Hind', sans-serif;
}

.custom-navbar {
  background-color: var(--blue);
}

.custom-navbar .nav-link,
.custom-navbar .nav-dropdown-item {
  color: seashell !important;
  font-size: 20px;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-dropdown-item:hover {
  color: var(--teal) !important;
}

#search {
  font-family: var(--hind);
}

#searchIcon {
  background-color: transparent;
  color: black;
  border: none;
}

.btn.filter-button {
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  background-color: transparent;
  color: var(--blue);
  border-color: var(--blue);
}

.btn.filter-button:hover {
  background-color: var(--teal);
  color: white;
}

/* Center arrows vertically and move them to the side */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust width to control how far the arrows are positioned from the carousel */
}

.carousel-control-prev {
  left: -5rem !important; /* Move the left arrow further to the left */
}

.carousel-control-next {
  right: -5rem !important; /* Move the right arrow further to the right */
}

/* Center the arrow icons vertically */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--dark-green);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%; /* Vertically center the icons */
}

/* Optional hover effect for better visibility */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: var(--teal);
}

footer {
  background-color: var(--blue);
  height: 100px;
}

footer a {
  color: seashell;
  text-decoration: none;
}

footer a:hover {
  color: var(--teal);
}

#filterMenu {
  background-color: var(--blue);
  color: white;
  font-family: var(--hind);
}

#hind {
  font-family: var(--hind);
}

#resultsFilterButton.active {
  background-color: var(--blue);
  border-color: var(--blue);
  color: white;
}